<a href="https://colab.research.google.com/github/parimalakettymuthu/MachineLearning-Projects/blob/main/DogBreed_Multiclass_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np   #importing all required libraries like numpy, pandas, visualization packages
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import classification_report, confusion_matrix #metrics to support classification 

#Import all deeplearning required packages for preprocessing, training model 
import tensorflow as tf
import keras
from keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras import applications
from keras.models import Sequential, load_model
from keras.layers import Conv2D, MaxPooling2D, GlobalAveragePooling2D, Flatten, Dense, Dropout
from keras.preprocessing import image

import cv2

import warnings
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive   #Connecting to the google drive 
drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
#Loading the test & train datasets 
labels = pd.read_csv("/content/drive/My Drive/Machine Learning/Data/Dog Breed/labels.csv")

#Accessing the train & test folder paths 
train_path = "/content/drive/My Drive/Machine Learning/Data/train"
test_path = "/content/drive/My Drive/Machine Learning/Data/test"

In [13]:
train_path

'/content/drive/My Drive/Machine Learning/Data/train'

In [4]:
#Checking the contents of the label file 
labels.head(5)   #output containing two field id (is the corresponding image file & its breed name)

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [5]:
#Adding '.jpg' extension to each id 
def to_jpg(id):
  return id+".jpg"

labels['id'] = labels['id'].apply(to_jpg)   #calling the apply function with argument as user defined function "to_jpg"

In [11]:
labels.head(5)

                                     id             breed
0  000bec180eb18c7604dcecc8fe0dba07.jpg       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97.jpg             dingo
2  001cdf01b096e06d78e9e5112d419397.jpg          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d.jpg          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62.jpg  golden_retriever

In [9]:
#Doing Data augmentation & pre-processing using tensorflow 
gen = ImageDataGenerator(
  rescale = 1./255.,
  horizontal_flip = True, 
  validation_split = 0.2 #training dataset size is 80%
)

train_generator = gen.flow_from_dataframe(
    labels, #dataframe
    director = train_path, #google drive path for train folder 
    x_col = 'id',
    y_col = 'breed',
    subset='training',
    color_made='rgb',
    target_size=(331,331), #image height, image width
    class_mode='categorical',
    batch_size=32,
    shuffle=True,
    seed=42,
)

Found 0 validated image filenames belonging to 0 classes.

In [10]:
#Creating a validation generator
validation_generator = gen.flow_from_dataframe(
    labels, #dataframe
    directory = train_path, 
    x_col = 'id',
    y_col = 'breed',
    subset = "validation",
    color_mode='rgb',
    target_size=(331, 331), #image height & image width
    class_mode="categorical",
    batch_size=32,
    shuffle=True,
    seed=42,
)

Found 0 validated image filenames belonging to 0 classes.